//links
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

$borderRadius: 10px;
$borderText: rgba(255, 255, 255, 0.658) 2px solid;

* {
  color: white;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: #1d1d1d;
  margin-top: 1em;
  background: rgba(0, 0, 0, 0.8) url('pics/wp.jpg');
  background-blend-mode: darken;
}

nav {
  .nav-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 1em;
    justify-content: space-evenly;
    text-transform: uppercase;
    li {
      a {
        text-decoration: none;
        border: rgba(255, 255, 255, 0.658) 2px solid;
        padding: 0.5em 0.8em;
      }
      // a::hover {
      //   // animation: fadein 2s;
      // }
    }

    #projects {
      flex: 0.5;
    }
  }
}

.main-index {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .colored-text {
    color: #4fdfe4;
  }
  h1 {
    font-size: 5em;
  }
  .line {
    margin: 1em 1em;
    height: 1px;
    width: 20%;
    background: white;
  }

  p {
    font-size: 1.2em;
  }
}

// projects.html
.arrow {
  flex: 0.5;
  .go-back {
    transform: rotate(180deg);
    width: 30px;
    height: 30px;
  }
}

.content-placeholder {
  display: grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;

  .project-container {
    margin: 50px;

    img {
      height: 300px;
      width: 400px;
      box-shadow: 7px 8px 8px 0px rgba(0, 0, 0, 0.67);
      cursor: pointer;
      border-radius: $borderRadius;
    }
    img:hover {
      transform: scale(1.1);
      transition: all 0.5s ease;
    }
  }
}
#modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: black;
  opacity: 0.5;
}
.modal {
  display: none;
  background-color: #1d1d1d;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.modal-open {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  width: 80vh;
  padding: 2em;
  overflow: auto;

  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      margin-top: 1em;
    }
    .links {
      a {
        margin-right: 20px;
        text-decoration: none;
        padding: 1em 3em;
        background-color: #1d1d1d;
        margin-bottom: 10px;
        border: rgba(255, 255, 255, 0.658) 2px solid;
      }
    }
  }
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
}

// resume.html
.resumes-container {
  height: 90vh;
  margin: 50px 1em;

  .pdf-download-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .pdf-image {
      border-radius: $borderRadius;
      box-shadow: 7px 8px 8px 0px rgba(0, 0, 0, 0.67);
    }

    .links-pdf {
      display: flex;
      flex-direction: column;
      background: rgba(0, 0, 0, 0.8);
      background-blend-mode: darken;

      // img {
      //   width: 50px;
      //   height: 50px;
      //   transform: rotate(90deg);
      // }

      a {
        text-decoration: none;
        padding: 1em 3em;
        background-color: #1d1d1d;
        margin-bottom: 10px;
        border: $borderText;
      }
    }
  }
}
.line-resume {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  height: 1px;
  width: 100vh;
  background: rgba(255, 255, 255, 0.658);
}
